@*@model IEnumerable<JobSearchWebApp.Models.SavedJob>

    @{
        ViewBag.Title = "LoggedIn";
    }

    @if (Session["UserId"] != null)
    {
        <h3> Hello @Session["FName"].ToString()</h3>
    }



    <h5>Details</h5>


    <h5>Saved Jobs</h5>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Title)
        </td>
        <td>
        <td>
            <a href="@Url.Action("del", "Account",new { sjobId = item.SJobId})">Delete</a>
        </td>
    </tr>
        }

    </table>*@

@model JobSearchWebApp.Models.ProfileModel

@{
    ViewBag.Title = "LoggedIn";
}

@if (Session["UserId"] != null)
{
    <h2> Hello @Session["FName"].ToString()</h2>
}



<h4>Details</h4>



    @foreach (var item in Model.userdetails)
    {

        <b>
            @Html.DisplayNameFor(model => item.FName)
        </b>
        @Html.DisplayFor(modelItem => item.FName)<br />


        <b>
            @Html.DisplayNameFor(model => item.LName)
        </b>
        @Html.DisplayFor(modelItem => item.LName) <br />


        <b>
            @Html.DisplayNameFor(model => item.Email)
        </b>
        @Html.DisplayFor(modelItem => item.Email)<br />



        <b>
            @Html.DisplayNameFor(model => item.Phone)
        </b>
        @Html.DisplayFor(modelItem => item.Phone) <br />



        <b>
            @Html.DisplayNameFor(model => item.DOB)
        </b>
        @Html.DisplayFor(modelItem => item.DOB) <br />



        <a href="@Url.Action("Edit", "Account",new { id = item.UserId})">Edit</a>
    }


<h4>Saved Jobs</h4>
<table class="table">

    @foreach (var item in Model.savedjob)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.Title)
            </td>
            <td>
            <td>
                <a name="delete" href="@Url.Action("del", "Account",new { sjobId = item.SJobId})">Delete</a>
            </td>
        </tr>
    }

</table>





